.Tab-Container {
    /* border: 1px solid #635985; */
    color: #fff;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* border-radius: 5px; */
    text-align: center;
   
}

.link-class {
    color : #fff !important;
    text-decoration: none !important;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: #635985;
    border-radius: 5px;
}